*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-centered {
  text-align: center;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.7em;
}

p {
  margin: 1em 0;
  font-size: 1.1em;
  color: #777;

}

p.small {
  font-size: 1em;
}

.green {
  color: #7cc576;
}

.white {
  color: #fff;
}

.short400 {
  max-width: 600px;
}

.clear-margin {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.black {
  color: #000;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 5px;
  z-index: 1;
}

nav .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 2em;
}

.navbar-header {
  height: 97px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
}

nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  transition: all .5 ease;
}

nav ul a:hover {
  color: #000;
}

nav li {
  display: inline-block;
}

.navbar {
  position: fixed;
  min-width: 100%;
  background-color: #fff;
  z-index: 9999;
}

.logo {
}

#menu-toggle {
  display: none;
}

.label-toggle {
  display: none;
}

.home {
  display: flex;
  position: relative;
  align-items: center;
  background-image: url('./img/background-home.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  min-height: 530px;

  color: #fff;
}

.home .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  align-items: center;
  min-height: 500px;
}

.items-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 3em;
}

.about-item {
  display: flex;
  flex-direction: column;

  margin-left: .5em;
  margin-right: .5em;
}

.about-item img {
  height: 55px;
  width: auto;
  margin-bottom: 1.5em;
}

.blog {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  background-color: #e9e9e9;
}

.blog-left {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  margin-right: -200px;
  flex-grow: 3;
}

.blog-right {
  display: flex;
  flex-grow: 6;
  position: relative;
  min-height: 600px;
  background-image: url("./img/background-blog.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  color: #fff;
}

.blog .wrapper {
  width: 100%;
  align-self: center;
}

.list-checkmark {
  margin: 0 0 1em 0;
  padding: 0 0 0 1em;
  list-style: none;
}

.list-checkmark-item {
  position: relative;
  padding-left: 1em;
  line-height: 2.5em;
  font-size: 1.35em;
}

.list-checkmark-item:before {
  content: '';
  position: absolute;
  left: -1em;
  top: 0.5em;
  background-image: url('./img/circle-checkmark.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
}

.green-btn {
  min-width: 250px;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 2em;
  padding: .3em;
  border-radius: 1.5em;
  border-style: none;
  cursor: pointer;
  color: #fff;
  background-color: #7cc576;
  border: 1px solid #5a9056;
  transition: background-color .5s ease;
}

.green-btn:hover {
  background-color: #5a9056;
  border-color: #7cc576;
}

.green-btn:focus {
  box-shadow: 0 0 0 2px #41693e;
  outline: none;
}

.white-btn {
  min-width: 250px;
  font-weight: 700;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  line-height: 2em;
  padding: .2em;
  border-radius: .5em;
  border: 3px solid #fff;
  background-color: transparent;
  margin-top: 2em;
  transition: background-color .5s ease;
}

.white-btn:hover {
  background-color: #5a9056;
}

.white-btn:focus {
  box-shadow: 0 0 0 2px #ADADAD;
  outline: none;
}

.img-responsive {
  max-width: 100%;
}

.portfolio {
  display: flex;
  align-items: center;
  min-height: 800px;
  background-image: url('./img/background-portfolio.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.portfolio .wrapper {
  width: 90%;
}

.project-container {
  margin-top: 50px;
  max-width: 470px;
}

.project-feature {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 1em 0 0 0;
}

.feature-img {
  display: inline-block
}

.feature-description {
  display: inline-block;
  padding-left: 1em;
}

.line-after {
  position: relative;
  text-align: center;
}

.line-after:after {
  content: "";
  position: absolute;
  top: 45px;
  left: 240px;
  width: 175px;
  border-bottom: 2px solid #767676;
}

.quote-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
  margin-bottom: 30px;

}

.order-last {
  order: -1000;
}

q {
  font-size: 1.5em;
  quotes: "\201E"  "\0022" "\0027" "\0027";
}

.quote-wrapper blockquote {
  max-width: 800px;
  padding-left: 1.5em;
  background-color: #f9f9f9;
}

.quote-footer {
  font-size: 1.2em;
}

.quote-img {
  max-width: 170px;
}

.quote-img img {
  border-radius: 50%;
  max-width: 100%;
}

.clients {
  display: flex;
  align-items: center;
  min-height: 600px;
}

.next-proj {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7cc576;
  color: #fff;
  min-height: 250px;
}

.logos {
  display: flex;
  min-height: 150px;

}

.logos .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;

}

.logo-item {
  max-width: 200px;
  display: inline-block;
}

.img-greyscale {
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
  cursor: pointer;
  transition: filter 500ms ease;
}

.img-greyscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);
}

.services {
  background-color: #f9f9f9;
}

.contact {
  display: flex;
  align-items: center;
  min-height: 500px;
  background-color: #232322;
  color: #fff;
}

.contact .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.contact-column {
  max-width: 320px
}

.contact-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin: 1em 0;
}

.contact-icon {
  text-align: center;
  width: 15%;
}

.icon-big {
  height: 100px !important;
}

.contact-description {
  padding-left: .5em;
}

.main-footer {
  display: flex;
  align-items: center;
  min-height: 150px;
  background-color: #fff;
}

.main-footer .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.footer-copyright {
  margin-right: 3em;
}

.social {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin: 0 .5em;
  background-color: #242422;

  transition: background-color 500ms ease;
}

.social-item img {
  height: 25px;
}

.social-tw:hover {
  background-color: #00aced;
  transition: background-color 500ms ease;
}

.social-fb:hover {
  background-color: #3b5998;
  transition: background-color 500ms ease;
}

.social-pt:hover {
  background-color: #cb2028;
  transition: background-color 500ms ease;
}

.social-gog:hover {
  background-color: #da2713;
  transition: background-color 500ms ease;
}



/* media queries */
@media screen and (max-width: 768px){
  nav nav ul a {
    color: inherit;
  }

  nav nav ul {
    background-color: pink;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden;
  }

  nav li {
    border-bottom: 2px solid black;
    color: red;
    display: block;
    font-size: 1.5em;
    padding: 2em 0;
  }

  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
  }

  nav .label-toggle {
    background: linear-gradient(to bottom, #E84545 0%, #E84545 20%, transparent 20%, transparent 40%, #E84545 40%, #E84545 60%, transparent 60%, transparent 80%, #E84545 80%, #E84545 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    width: 35px;
    margin-top: 1em;
  }

  nav .wrapper {
    display: block;
  }
}